/JavaCode/Salut/nbproject/private/
/JavaCode/Salut/build/
/JavaCode/Imobiliare/nbproject/private/
/JavaCode/Imobiliare/build/
/JavaCode/EmagLaptop/nbproject/private/
/JavaCode/EmagLaptop/build/
/JavaCode/ExampleCom/nbproject/private/
/JavaCode/ExampleCom/build/
/JavaCode/TextTable/nbproject/private/
/JavaCode/TextTable/build/
/JavaCode/JavaConsoleConverterFtoC/nbproject/private/
/JavaCode/JavaConsoleConverterFtoC/build/
/JavaCode/JavaConsoleConvertorCtoF/nbproject/private/
/JavaCode/JavaConsoleConvertorCtoF/build/
/JavaCode/TempConverter/nbproject/private/
/JavaCode/TempConverter/build/
/JavaCode/JavaGuiTempConverter/nbproject/private/
/JavaCode/JavaGuiTempConverter/build/
/JavaCode/Fereastra/nbproject/private/
/JavaCode/Fereastra/build/
/JavaCode/JavaBorderLayoutConverter/nbproject/private/
/JavaCode/JavaBorderLayoutConverter/build/
/JavaCode/JavaBoxLayoutConverter/nbproject/private/
/JavaCode/JavaBoxLayoutConverter/build/
/JavaCode/AplicatieSablon/nbproject/private/
/JavaCode/AplicatieSablon/build/
/JavaCode/TutorialImageViewer/nbproject/private/
/JavaCode/TutorialImageViewer/build/
/JavaCode/snow/nbproject/private/
/JavaCode/snow/build/
/JavaFx/JavaFXApplication1/nbproject/private/
/JavaFx/JavaFXApplication1/build/
/JavaFx/JavaFXApplication1/dist/
/JavaCode/snow/dist/
/JavaCode/AplicatieSablon/dist/
/JavaFx/JavaFXApp01/nbproject/private/
/JavaFx/JavaFXApp01/dist/
/JavaFx/JavaFXApp01/build/
/JavaFx/JavaFXApp9/nbproject/private/
/JavaFx/JavaFXApp9/build/
/JavaFx/JavaFXApp9/dist/
/JavaFx/RssReader01/nbproject/private/
/JavaFx/RssReader01/build/
/JavaFx/RssReader01/dist/